// 页脚
.footer {
  width: calc(100% - 140px);
  height: 114px;
  background-color: #161b22;
  color: #ffffffb3;

  padding: 0px 70px;
  display: flex;
  align-items: center;

  > div {
    margin-right: 16px;
    &:last-child {
      margin: 0;
    }
    > img {
      height: 32px;
    }
    > a {
      text-decoration: none;
      margin-left: 16px;
      color: #ffffffb3;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  > span {
    display: inline-block;
    margin-right: 24px;
  }
}
