// display
.d-flex {
  display: flex;
}

.m-10 {
  margin: 10px;
}
.m-r-10 {
  margin-right: 10px;
}

// background-position
.b-p-cc {
  background-position: center center;
}
.b-p-ct {
  background-position: center top;
}
.b-p-cb {
  background-position: center bottom;
}
.b-p-lc {
  background-position: left center;
}
.b-p-rc {
  background-position: right center;
}
.b-p-lt {
  background-position: left top;
}
.b-p-lb {
  background-position: left bottom;
}
.b-p-rt {
  background-position: right top;
}
.b-p-rb {
  background-position: right bottom;
}

// background-repeat
.b-r-x {
  background-repeat: repeat-x;
}
.b-r-y {
  background-repeat: repeat-y;
}
.b-r-no {
  background-repeat: no-repeat;
}
.b-r-s {
  background-repeat: space;
}
.b-r-r {
  background-repeat: round;
}

// background-attachment
.b-a-no {
  background-attachment: fixed;//背景固定
}
// 字体相关
// text-align
.t-a-c{
  text-align: center;
}
.t-a-l{
  text-align: left;//默认
}
.t-a-r{
  text-align: right;
}
.t-a-c{
  text-align: center;
}
.t-a-j{
  text-align: justify;
}
// text-decoration
.t-d-no{
  text-decoration: none;//删除下划线
}
.t-d-o{
  text-decoration: overline;
}
.t-d-u{
  text-decoration: underline;
}
.t-d-l{
  text-decoration: line-through;//上中下划线
}
